<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DoAnPTPMUDTMWinform.Properties.Settings.EcommerceDBConnectionString"
            connectionString="Data Source=DESKTOP-HRMC28G;Initial Catalog=EcommerceDB;Persist Security Info=True;User ID=sa;Password=123;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>